<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
<title>{% block title %}LoCal Cluster Monitor{% endblock %}</title> 
<meta http-equiv="refresh" content="60">
   <link href="/site_media/style.css" rel="stylesheet" type="text/css"/> <br>
   {% block jsimports %}
   {% endblock %}

   <script id="source" language="javascript" type="text/javascript">   

   $(function () {
    	var optionssw = {
            series: { lines: { show: true } },
            xaxis: { mode: "time", timeformat: "%h:%M:%S", ticks: 3 },
            yaxis: { min: 0 },
            legend: { position: "sw"},
            selection: { mode: "x" },
        };
        var optionsne = {
           series: { lines: { show: true } },
           xaxis: { mode: "time", timeformat: "%h:%M:%S", ticks: 3 },
           yaxis: { min: 0, max:100 },
           legend: { position: "ne"},
           selection: { mode: "x" },
        };
        
        {% block js %}
        {% endblock %}

        {% block js-flot-hover %}
        {% endblock %}
   });
   </script>

</head> 
<body> 
<div class="main"> 
<div id="root"> 
    <a href="http://www.local.cs.berkeley.edu"><img src="/site_media/local-logo.png" style="float: left; vertical-align:text-top;"></a> Cluster Monitoring DashBoard
</div> 
<hr> 
{% block contents %}
{% endblock %}
<hr> 
<p class=bottom> 
<a href="http://www.local.cs.berkeley.edu"><img src="/site_media/local-logo.png" style="float: left; padding: 10px;"></a> 
App by <a href="http://www.cs.berkeley.edu/~prmohan">Prashanth Mohan</a>.
<br>
</div> 
</body> 
</html>
