{% extends "base.html" %}
{% block jsimports %}
<!--[if IE]><script language="javascript" type="text/javascript" src="../flot/excanvas.min.js"></script><![endif]--> 
<script language="javascript" type="text/javascript" src="/site_media/flot/jquery.js"></script> 
<script language="javascript" type="text/javascript" src="/site_media/flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="/site_media/flot/jquery.flot.selection.js"></script>
{% endblock %}

{% block js %}
    {% for cluster, power_data, util_data in cluster_data %}
        var pow_data = {{ power_data|safe }};
        var util_data = {{ util_data|safe }};
        var pow_plot{{ cluster.id }} = $.plot($("#power{{ cluster.id }}"), [pow_data], optionssw);
        var util_plot{{ cluster.id }} = $.plot($("#util{{ cluster.id }}"), [util_data], optionsne);
        $("#power{{ cluster.id }}").bind("plotselected", function (event, ranges) {
                // do the zooming
                pow_plot{{ cluster.id }} = $.plot($("#power{{ cluster.id }}"), [pow_data],
                              $.extend(true, {}, optionssw, {
                                  xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
                              }));
                util_plot{{ cluster.id }} = $.plot($("#util{{ cluster.id }}"), [util_data],
                            $.extend(true, {}, optionsne, {
                                xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
                            }));
            });
    {% endfor %}
{% endblock %}

{% block contents %}
{% for cluster, data in cluster_data %}
<h1 class="big">{{ cluster.name }}</h1>
<table width="100%">
    <tr>
        <td width="50%">
<div id='power{{ cluster.id }}' style='width: 325px; height: 400px;'></div>
</td>
<td width="50%">
<div id='util{{ cluster.id }}' style='width: 325px; height: 400px;'></div>
</td></tr></table>
<br/><br/>
<h1 class="small">Nodes: </h1>
    {% for node in cluster.get_nodes %}
        <a href="/node/{{ node.node_id }}/">{{ node.name }}</a> 
    {% endfor %}
{% endfor %}
{% endblock %}
