
body {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

img {
        border-style: none;
}

textarea {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
}

.main {
        margin-left: auto;
        margin-right: auto;
        width:800px;
        float: center;
}

.debug {
        text-align: right;
        font-size: +15;
        font-weight: bold;
}

#root {
        color: white;
        background-color: #3366aa; 
        text-align: center;
        padding: 18px;
        font-size:200%;
        padding-left: 40px;
        padding-bottom: 35px;
        vertical-align: middle;
}

.rotated-bold {
        font-weight: bold;
#        -webkit-transform: rotate(-90deg);
#        -moz-transform: rotate(-90deg);
}

.defaulttable {
        margin-left: 100px;
        width: 600px;
}

.defaulttable th {
        font-weight: bold;
        text-align: left;
}

.defaulttable td {
        text-align: right;
        padding-left: 25pt;
}

h1 {
        font-size: +20;
        margin-left: 5px;
}

h2 {
        font-size: +17;
        margin-left: 15px;
}

h1.small {
    	font-family: Gill Sans, Verdana;
    	font-size: 11px;
    	line-height: 14px;
    	text-transform: uppercase;
    	letter-spacing: 2px;
    	font-weight: bold;
}

h1.big {
        font-family: times, Times New Roman, times-roman, georgia, serif;
    	color: #444;
    	margin: 0;
    	padding: 0px 0px 6px 0px;
    	font-size: 40px;
    	line-height: 44px;
    	letter-spacing: -2px;
    	font-weight: bold;
}

#nav {
        margin-bottom: 12pt;
        font-size: +14;
}

a:visited {
        color: #3300cc;
}

a:link {
        color: #3300cc;
}

.bottom {
        font-size: 70%;
}

.shorten {
    color: darkblue;
}
